.postContainer{
    margin-top: 10px;
    background-color: aqua;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 1000px;
}

.postCard{
    width: 2000px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

